# Database Configuration
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Security Configuration
JWT_SECRET=

# Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Gemini API Configuration
GEMINI_API_KEY=
